<div class="row">
  <div class="col-3"></div>
  <app-disc-prompt class="col-6" (discsRequested)="start($event)"></app-disc-prompt>
  <div class="col-3"></div>
</div>
<div *ngFor="let problem of problem$ | async">
  <div class="row">
    <div class="col-2"></div>
    <div class="col h4 text-center">Solving for {{ problem.n }} discs</div>
    <button class="btn btn-danger col-auto"
      (click)="problem.cancel()">{{ problem.isDone ? 'Close' : 'Cancel' }}</button>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <app-move-counter class="col-12" [count$]="problem.moveCount$"></app-move-counter>
  </div>
  <div class="row stack-container">
    <app-tower class="col" [size]="problem.n" [name]="'source'" [stack$]="problem.sourceStack$"></app-tower>
    <app-tower class="col" [size]="problem.n" [name]="'auxiliary'" [stack$]="problem.auxStack$"></app-tower>
    <app-tower class="col" [size]="problem.n" [name]="'target'" [stack$]="problem.targetStack$"></app-tower>
  </div>
</div>
