<div class="row">
    <div class="col-3"></div>
    <app-disc-prompt class="col-6" (discsRequested)="start($event)"></app-disc-prompt>
    <div class="col-3"></div>
</div>
<div class="row">
    <app-tower class="col-12" [name]="'source'" [stack$]="sourceStack$"></app-tower>
    <app-tower class="col-12" [name]="'auxiliary'" [stack$]="auxStack$"></app-tower>
    <app-tower class="col-12" [name]="'target'" [stack$]="targetStack$"></app-tower>
</div>
<div class="row">
    <app-move-counter class="col-12" [count$]="moveCount$"></app-move-counter>
</div>